/**
 * Dro One Page converter : Sliding Mobile Menu
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Styling Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
}
body.wp_mm_enable{
    overflow: hidden;
}
.body_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 998;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
}
.body_overlay.enabled{
    display: block;
    opacity: 1;
}
.wp_mm_wrapper{
    height: calc(100vh - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: -300px;
    bottom: 0;
    z-index: -9;
    width: 300px;
    opacity: 0;
    background: hsla(0, 0%, 0%, 1);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: right 0.5s;
    /*box-sh*/
}
.wp_mm_wrapper.active{
    z-index: 999;
    opacity: 1;
    right: 0;
}
.wp_mm_wrapper ul.menu > li > a{
    color: #fdb84e
}
.wp_mm_wrapper ul.menu{
    position: relative;
    display: none;
    margin:  0 0 0 2px;
}
.wp_mm_wrapper.active ul.menu{
    display: block;
}
.wp_mm_wrapper ul.menu li.back  a{
    font-size: 13px;
    width: 50%;
    margin: 0 auto;
    font-family: sans-serif;    
}
.wp_mm_wrapper ul.menu a{
    display: block;
    color: #fff;
    padding: 20px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    font-family: sans-serif

}
.wp_mm_wrapper ul.menu .sub-menu{
    background-color: #000000;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 999;
}
.wp_mm_wrapper ul.menu li.active>.sub-menu{
    right: 0;
}
.wp_mm_wrapper ul.menu li{
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #7ac1b7 20%, #7ac1b7 50%, #7ac1b7 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0;
    color: #ffffff;
    height: 60px;
}
.wp_mm_wrapper ul.menu li.menu-item-has-children>a{
    width: 50%;
}
.wp_mm_wrapper ul.menu li.menu-item-has-children span{
    font-size: 24px;
    cursor: pointer;
    border: 1px solid;
    width: 50px;
    line-height: 1rem;
    text-align: center;
}
span.forward{
    float: right;
    margin: 20px 10px 0 0;
}
span.left{
    float: left;
    margin: 20px 0 0 20px;
}
#toggle-menu-container{
    position: absolute;
    z-index: 99999;
    right: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: hsla(0, 0%, 0%, 0.60);
    transition: width 1s;
}
#toggle-menu{
    cursor: pointer;
    /*float: right;*/
    height: 45px;
    width: 45px;
    position: absolute;
    right: 5px;
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    z-index: 9999;
    /*background-color: #313131;*/
}
#toggle-menu span{
    background-color: #FFFFFF;
    border-radius: 5px;
    display: block;
    height: 2px;
    left: 0;
    width: 45px;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
#toggle-menu span:nth-child(1) {
    top: 5px;
}
#toggle-menu span:nth-child(2),
#toggle-menu span:nth-child(3) {
    top: 20px;
}
#toggle-menu span:nth-child(4) {
    top: 35px;
}
#toggle-menu.open span:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0;
}
#toggle-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
#toggle-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#toggle-menu.open span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0;
}
#toggle-menu.open{
}

@media screen and (min-width:768px){

}
@media screen and (min-width:992px){
    
    #toggle-menu-container{
        width: 50px;
        background: transparent;
    }
    .wp_mm_wrapper,
    #toggle-menu,
    .body_overlay,
    .body_overlay.enabled,
    #toggle-menu-container{
        /*display: none;*/
    }
    body.wp_mm_enable{
        overflow: visible;
    }
}

/*--------------------------------------------------------------
# Styling Navigation
--------------------------------------------------------------*/
.wp_mm_wrapper ul.menu li:hover >a{
    color: #fff; 
}
.wp_mm_wrapper .current_page_item > a,
.wp_mm_wrapper .current-menu-item > a,
.wp_mm_wrapper .current_page_item > a:hover,
.wp_mm_wrapper .current-menu-item > a:hover {
    color: #313131;
    border-left: 2px solid  #7ac1b7;
}

@media screen and (max-width:576px){
    .wp_mm_wrapper{
        width: 250px;
    }
    .wp_mm_wrapper ul.menu li.menu-item-has-children>a {
        width: 70%;
    }
    .wp_mm_wrapper ul.menu li.back a {
        font-size: 12px;
        width: 100%;
        margin: 0px 0 0 80px;
        /*background-color: #2a2a2a;*/
        padding: 25px 0px 20px 0;
    }
    .wp_mm_wrapper ul.menu li.menu-item-has-children span {
        font-size: 24px;
        cursor: pointer;
        /*background-color: #7ac1b7;*/
        width: 45px;
        height: 45px;
        line-height: 1rem;
        text-align: center;
        padding: 10px;
    }
    .wp_mm_wrapper li.menu-item-has-children span.left{
        float: left;
        margin: 10px 0 0 20px;
    }
    .wp_mm_wrapper li.menu-item-has-children span.forward{
        margin: 10px 5px 0 0;
    }
}